body {
    background-image: url("bg_log_reg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
 
#username{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 15px;
    color: #fff;
    padding: 0 0 0 42px;
    background: rgba(255, 255, 255, 0.1);
    
}
::placeholder {
    color: #05102e5b;
}

#password{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 15px;
    color: #d11313;
    padding: 0 0 0 42px;
    background: rgba(255, 255, 255, 0.1);
}


h1{
    color: rgba(66, 30, 107, 0.5);
}

#Zarejestruj_przeniesienie {
    height: 30px;
    width: 67%;
    border-radius: 30px;
    border: none;
    color: #ffffffab;
    background: rgba(122, 28, 141, 0.534);
}

#Zaloguj {
    height: 30px;
    width: 67%;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    background: rgba(81, 17, 94, 0.534);
}

