body {
    display: flex;
    flex-direction: column;
    background-image: url("bg_log_reg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#username {
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 42px;
    background: rgba(255, 255, 255, 0.1);
}

#password {
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 42px;
    background: rgba(255, 255, 255, 0.1);
}

#RepeatPassword {
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 42px;
    background: rgba(255, 255, 255, 0.1);
}

#email {
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 42px;
    background: rgba(255, 255, 255, 0.1);
}

#Zatwierdź {
    height: 30px;
    width: 67%;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    background: rgba(122, 28, 141, 0.534);
}

h1 {
    color: rgba(66, 30, 107, 0.5);

}