body {
    background-image: url("images/bg_log_reg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
 
#username{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 15px;
    color: #fff;
    padding: 0 0 0 42px;
    background: rgba(255, 255, 255, 0.1);
    
}
::placeholder {
    color: #05102e5b;
}

#password{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 15px;
    color: #ffffff;
    padding: 0 0 0 42px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
}


h1{
    color: rgba(66, 30, 107, 0.5);
}

#Zarejestruj_przeniesienie {
    height: 30px;
    width: 67%;
    border-radius: 30px;
    border: none;
    color: #ffffffab;
    background: rgba(122, 28, 141, 0.534);
}

#Zaloguj {
    height: 30px;
    width: 67%;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    background: rgba(81, 17, 94, 0.534);

}

/* switch  */
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
  }
  
  input:checked + .slider {
    background-color: #522ba7;
  }
  
  input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
  }

















